<div class="tech-stack">
  <h3 class="text-highlight">Tech Stack</h3>

  <div class="tech-list">
    @for (techCategory of techStack; track $index) {
    <div class="tech-list--category">
      <label class="tech-list--category-label">{{ techCategory.category }}</label>
      <div class="tech-list--tech-container">
        @for (tech of techCategory.items; track $index) {
        <div class="tech-list--item">
          <img
            src="images/icons/{{ tech.iconFileName }}"
            [alt]="tech.name"
            [title]="tech.name"
            width="70"
          />
        </div>
        }
      </div>
    </div>

    }
  </div>
</div>
