@use "variables" as *;

.tech-stack {
  margin-bottom: 5rem;
}

.text-highlight {
  color: var(--primary);
  margin-bottom: 24px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  &--item {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0 10px;

    img {
      height: 3rem;
    }
  }

  &--tech-container {
    display: flex;
    flex-wrap: wrap;
  }

  &--category {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
