<div class="work-history">
    <h3>Work History</h3>
    <p></p>
    
    <div class="timeline-container">
        <app-timeline [items]="workHistory" [timelineContentTemplateRef]="timelineItemTemplate"></app-timeline>
    </div>
    
    <ng-template #timelineItemTemplate let-item="item">
        <p class="mb-0 pb-3">
            <span class="d-block">
                <b>{{item.name}}</b>
            </span>
            <small class="d-block font-italic">{{ item.dateRange }}</small>
            <span [class]="item.description ? 'd-block' : 'd-none'">{{ item.description }}</span>
        </p>
    </ng-template>
</div>
