.timeline {
    position: relative;
}

.timeline-item {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        background-color: black;
        border-radius: 5px;
        translate: 0px -50%;
        margin-right: 1rem;
        top: 11px;
    }

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 3px;
        height: 100%;
        width: 1px;
        border: 1px solid black;
        top: 11px;
    }
}

.timeline-content {
    padding-left: 2rem;
}